:root{
  --light:#fcfeff;
  --react:rgb(83, 193, 222);
  --js:rgb(247, 223, 30);
}

*{
	margin:0;
	padding: 0;
scroll-behavior: smooth;
	font-family: 'Nunito', sans-serif;

}
html{
	background-color:#fcfeff ;
color: #000000;
}

img{
	width:100%;
}

/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {
background-color:#fcfeff ;
  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: fixed;
  top:0;

}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:#54aeff ;

  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:#54aeff ;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 50vh;
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
}
/*end of navbar*/


.c{
/* background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(165, 230, 235),rgb(29, 32, 232)); */
	height:20vh;
 margin-top: 60px;
background-color: var(--js);
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
color: white;
}
.c h1{
	color: white;
margin-top:-40px;
}


.posts{
  margin-top: -60px;
  width: 100%;
  background-color: white;
  border-radius: 60px;
 
  padding: 30px;
}


.tops{
width:40%;
padding: 60px 40px ;
margin: 20px auto;
font-weight: 900;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-bottom: 40px;
/* background-color: #54aeff; */
border-radius: 5px;


}

.js{
  background-color: rgb(247, 223, 30) ;
 
}

.react{
  background-color: rgb(83, 193, 222);
}
.react .det  a{
  color:var(--light) !important;
}

.tops span{
  color: #54aeff ;
}
.tops a{
  text-decoration: none;
  color:inherit;
}
.top{
  list-style: none;
  font-size: 20px;

  
}

.top:hover{
  color:var(--light);
}
.det{
  list-style: none;
}

.read{
  background-color: #f05f70;
  color:var(--light) !important;
  padding: 10px 20px;
  border-radius: 5px;
 }

 .read:hover{
  background-color:#54aeff; 
 }

 .footer{
  /* background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(165, 230, 235),rgb(29, 32, 232)); */
 background-color: var(--js);
  height:20vh;
 margin-top: 60px;
border-top-right-radius:  60px;
border-top-left-radius:  60px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
color: #000;
width:100%;
 }

 .up{
  margin-bottom: -15px;
  text-align: center;
 }


 nav.scrolled {
  background: #fcfeff;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}


/*media QUeries*/
@media(max-width:1000px ){
.posts{
  margin-top: -45px;
}
  .tops{
    width:50%;
  }
  .c{
    height:50vh;
  }
}




@media(max-width:768px ){

  .tops{
    width:60%;
  }
 
}

@media(max-width:638px ){

  .tops{
    width:70%;
  }
 
}

@media(max-width:560px ){

  .tops{
    width:80%;
  }
 
}


@media(max-width:480px ){

  .tops{
    width:75%;
     flex-direction: column;
    align-items: flex-start;
  }
  .tops ul{
    margin-bottom: 20px;
  }
 
}