:root {
    --orange: #ff7500;
    --white: #fcfeff;
    --black: #000000;
  }
  @font-face {
    font-family: InterBold;
    src: url("../fonts/Inter-Bold.ttf");
  }
  @font-face {
    font-family: InterRegular;
    src: url("../fonts/Inter-Regular.ttf");
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: InterRegular;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--black);
  }
  .hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/css.jpg");
    background-size: cover;
    background-position: top;
    height: 70vh;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero p{
    font-family: InterBold;
    font-size: 50px;
    color: var(--orange);
  }

  .article{
    width: 50%;
    margin: 100px auto;
  }
  ul{
    margin: 0 0 20px 20px;
    line-height: 30px;

  }
  .pallete-title, .gradient-title, .flex-title, .shadow-title, .svg-title, .blob-title{
    font-size: 30px;
    color: var(--orange);
    margin-bottom: 20px;
  }
  ._1, ._2, ._3, ._4, ._5, ._6, ._7, ._8, ._9, ._10, ._11, ._12, ._13, ._14 {
    margin-bottom: 20px;
    line-height: 30px;
  }
    /* responsiveness*/
    @media screen and (max-width:769px) {
      .hero p{
        padding: 40px;
        text-align: center;
      }
      .article{
        width: 70%;
      }
      ul a{
        word-break: break-all;
      }
    }
    @media screen and (max-width:425px) {
      .article{
        width: 80%;
      }
    }